* {
    a:link, a:visited {
        color: #00AAAA;
        text-decoration: none;
        font-weight: bold;
        font-size: large;
    }
    a:hover {
        color: #FFAA00;
        text-decoration: none;
      }
}
.containerstyle {
    background-color: rgba(27, 28, 36, 0.8);
}
body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 120px 1fr 50px;
    grid-template-columns: 1fr 240px;
    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
        gap: 10px;
    background-image: url(assets/background.png);
    background-position: center;
}
.header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-family:roboto, sans-serif;
    font-weight: bold;
}
.header {
    position: sticky;
    grid-area: header;
    top: 0;
    z-index: 999;
}
.footer {
    bottom: 0;
    grid-area: footer;
    a:link, a:visited {
        color: #ffffff;
        text-decoration: none;
        font-weight:lighter ;
        font-size: small;
    }
    a:hover {
        color: green;
        text-decoration: none;
      }
}
.sidebar {
    position: sticky;
    z-index: 999;
    left: 0;
    grid-area: side;
    padding: 20px;

    color: #FFAA00;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: larger;
}
.main {
    padding: 20px;
    overflow: auto;
    grid-area: main;
    color: whitesmoke;
    font-family:roboto, sans-serif;
    font-weight: bold;
    a:link, a:visited {
        text-decoration: none;
    }
}

.header_logo {
    max-width: 300px;
    padding:10px;
    transition: 0.25s;
}
.header_logo:hover {
    filter: saturate(200%);
    transform: scale(1.2);
}