/* index.css */
* {
    box-sizing: border-box;
}
a:link, a:visited {
    color: #00AAAA;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}
a:hover {
    color: #FFAA00;
    text-decoration: none;
}
body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 120px 1fr;
    grid-template-columns: 240px 1fr;
    grid-template-areas: 
        "header header"
        "side main";
    background-image: url(assets/background.webp);
}
.main {
    padding: 20px;
    overflow: auto;
    grid-area: main;
    background-color: rgba(27, 28, 36, 0.8);
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 10px;
}
.member {
    height: fit-content;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: larger;
    color: #FFAA00;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px 0;
    filter: saturate(120%);
}
.member.nocontent {
    filter: opacity(45%);
}
.member:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}
.avatar {
    width: 75%;
    max-width: 200px;
    aspect-ratio: 1;
    margin-bottom: 10px;
}
.member_name {
    margin-top: 10px;
    margin-bottom: 0px; /* Reduced gap between name and role text */
}
.member_role {
    margin-top: 0px; /* Reduced gap between name and role text */
    font-size: smaller;
}

/* Media Queries */
@media (max-width: 1300px) {
    .main {
        justify-content: space-evenly;
        margin: 5px;
    }
}

@media (max-width: 1000px) {
    body {
        grid-template-rows: 10% 15% 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "side"
            "main";
    }
    .sidebar {
        margin: 5px;
        padding: 15px;
    }
    .main {
        grid-template-columns: repeat(auto-fill, 180px);
        margin: 5px;
    }
}