* {
    a:link {
        color: #00AAAA;
        text-decoration: none;
        font-weight: bold;
        font-size: large;
    }
    a:hover {
        color: #FFAA00;
      }
    a:visited {
        color: #00AAAA;
        text-decoration: none;
        font-weight: bold;
        font-size: large;
    }
}
body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 120px 1fr;
    grid-template-columns: 240px 1fr;
    grid-template-areas: 
        "header header"
        "side main";
    background-image: url(assets/background.png);
    background-position: center;
}
.header {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 999;
    grid-area: header;
    background-color: #1b1c24;
}
.sidebar {
    position: sticky;
    z-index: 999;
    left: 0;
    grid-area: side;
    background-color: rgba(27, 28, 36, 0.8);
    margin: 10px;
    padding: 20px;

    color: #FFAA00;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: larger;
}
.main {
    padding: 20px;
    overflow: auto;
    grid-area: main;
    background-color: rgba(27, 28, 36, 0.8);
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 20px;
    a:link {
        text-decoration: none;
    }
}
.member {
    height: fit-content;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: larger;
    color: #FFAA00;
    transition: 0.25s;
}
.member:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}


.header_logo {
    max-width: 300px;
    padding:10px;    
}
.avatar {
    height: auto;
    padding-inline: 12.5%;
    width: 75%;
}