@font-face {
    font-family: minecraftten;
    src: url(../../assets/fonts/MinecraftTen.woff);
}
* {
    a:link, a:visited {
        color: #00AAAA;
        text-decoration: none;
        font-weight: bold;
        font-size: large;
    }
    a:hover {
        color: #FFAA00;
      }
}
body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 120px 1fr;
    grid-template-columns: 240px 1fr;
    grid-template-areas: 
        "header header"
        "menu main";
    background-image: url(../assets/wikibackground.png);
    background-position: center;
}
.menu {
    position: sticky;
    z-index: 999;
    left: 0;
    grid-area: menu;
    background-color: rgba(27, 28, 36, 0.8);
    margin: 10px;
    padding: 20px;
    color: #FFAA00;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: larger;
    display: grid;
    grid-template-rows: 1fr 10px;
    grid-template-areas: 
        "wikimenu"
        "legal";
}
.wikimenu {
    grid-area: wikimenu;
}

.collapsible {
    background-color: #1b1c24;
    color: #FFAA00;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    font-weight: bold;
    outline: none;
    font-size: 15px;
    transition: 0.25s;
  }
  
  .active, .collapsible:hover {
    filter: saturate(200%);
    transform: scale(1.05);
  }
  
  .collapsible:after {
    content: '\002B';
    color: #FFAA00;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .submenu {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

.main {
    overflow: auto;
    grid-area: main;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas: 
        "content infopanel";
    gap: 20px;
}
.content {
    grid-area: content;
    background-color: rgba(27, 28, 36, 0.8);
    padding: 5px;
    font-family: roboto, sans-serif;
    font-weight: bold;
    color: #00AAAA;
    font-size: large;
    h1, h2 {
        color: #FFAA00;
        margin-top: 0;
    }
}
.infopanel {
    grid-area: infopanel;
    background-color: rgba(27, 28, 36, 0.8);
    justify-content: center;
    font-family: minecraftten, sans-serif;
    color: #00AAAA;
    text-align: center;
    font-size: large;
    h1, h2 {
        color: #FFAA00;
    }
}
hr {
    border-top: 1px solid #1b1c24;
    margin-right: 10%;
    margin-left: 10%;
}